<html>

<body>
<h3> You have added the employee to interviewee list</h3>
<div class=row>
  <div class=span2>
    <%= link_to 'Back',{:action => 'show', :controller => 'employers', :id => @employer.id}, class: "btn btn-large btn-primary" %>
  </div>
</div>

</body>
</html>